
@{
    ViewBag.Title = "Error 404";
    Layout = "~/Views/Shared/_LayoutSinLogin.cshtml";
}
    <div style="text-align:center">
        <h2>Error 404 - Página no encontrada</h2>
        <img src="~/img/Error404.png" />
        <p>La dirección que busca no existe</p>
    </div>


