@model IEnumerable<MantenimientoPY.Models.ContactosEmergencia>
@using GridMvc.Html
@{
    ViewBag.Title = "Contactos de emergencias - Lista";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Mantenimiento de contactos de emergencia</h2>
<p class="link-agregar">
    @Html.ActionLink("Agregar Contacto emergencia", "Create")
</p>

@Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(model => model.numContactoEmergencia).Titled("Número contacto emergencia").Filterable(true);
    Columns.Add(model => model.nombreContactoEmergencia).Titled("Nombre contacto").Filterable(true);
    Columns.Add(model => model.Ciudadano.nombreCiudadano).Titled("Nombre ciudadano").Filterable(true);
 Columns.Add().Encoded(false)
  .Sanitized(false)
  .SetWidth(30)
  .RenderValueAs(o => Html.ActionLink("Editar", "Edit", new { id = o.idCiudadano }, new { @class = "data-grid-link" }));
    Columns.Add().Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Detalles", "Details", new { id = o.idCiudadano }, new { @class = "data-grid-link" }));
}).WithPaging(10).Sortable(true)
