@model IEnumerable<MantenimientoPY.Models.Denuncia>
@using GridMvc.Html

@{
    ViewBag.Title = "Denuncias - Emergencias activas";

}

<h2>Emergencias activas</h2>
<div style="margin-bottom:10px; width: 35%;">
    <a href="/Denuncias/MapaEmergencias"><button type="button" class="btn btn-primary btn-lg btn-block">Ver todas las emergencias en el mapa</button></a>
</div>

@Html.Grid(Model).Columns(Columns => {
    Columns.Add(model => model.Ciudadano.correoCiudadano).Titled("Correo").Filterable(true);
    Columns.Add(model => model.Ciudadano.nombreCiudadano).Titled("Nombre").Filterable(true);
    Columns.Add(model => model.Ciudadano.apellidoPatCiudadano).Titled("Apellido paterno").Filterable(true);
    Columns.Add(model => model.Ciudadano.apellidoMatCiudadano).Titled("Apellido materno").Filterable(true);
    Columns.Add(model => model.EstadoDenuncia.descripcionEstadoDenuncia).Titled("Estado").Filterable(true);
    Columns.Add(model => model.fechaDenuncia).Titled("Fecha").Filterable(true);
    Columns.Add().Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Atender", "Edit", new { id = o.idDenuncia }, new { @class = "data-grid-link" }));
    Columns.Add().Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Detalles", "Details", new { id = o.idDenuncia }, new { @class = "data-grid-link" }));
}).WithPaging(10).Sortable(true)


