@model MantenimientoPY.Models.TipoUsuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionTipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionTipoUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTipoUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
