@model IEnumerable<MantenimientoPY.Models.TipoUsuario>
@using GridMvc.Html
@{
    ViewBag.Title = "Tipo de usuario - Lista";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <h2>Mantenimiento tipo de usuario</h2>

<p class="link-agregar">
    @Html.ActionLink("Agregar Tipo de usuario", "Create")
</p>

@Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(model => model.descripcionTipoUsuario).Titled("Descripción").Filterable(true);

    Columns.Add().Encoded(false)
  .Sanitized(false)
  .SetWidth(30)
  .RenderValueAs(o => Html.ActionLink("Editar", "Edit", new { id = o.idTipoUsuario}, new { @class = "data-grid-link" }));
    Columns.Add().Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Detalles", "Details", new { id = o.idTipoUsuario}, new { @class = "data-grid-link" }));
}).WithPaging(10).Sortable(true)

