@model IEnumerable<MantenimientoPY.Models.Ciudadano>
@using GridMvc.Html
@{
    ViewBag.Title = " Ciudadanos - Lista";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Mantenimiento de ciudadanos</h2>
<p class="link-agregar">
    @Html.ActionLink("Agregar Ciudadano", "Create")
</p>

@Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(model => model.nombreCiudadano).Titled("Nombre").Filterable(true);
    Columns.Add(model => model.apellidoPatCiudadano).Titled("Apellido paterno").Filterable(true);
    Columns.Add(model => model.apellidoMatCiudadano).Titled("Apellido materno").Filterable(true);
    Columns.Add(model => model.direccionCiudadano).Titled("Dirección").Filterable(true);
    Columns.Add(model => model.correoCiudadano).Titled("Correo").Filterable(true);
    Columns.Add(model => model.estadoCiudadano).Titled("Estado").Filterable(true);
    Columns.Add(model => model.numReportesFalsosCiudadano).Titled("Reporte falso").Filterable(true);
    Columns.Add(model => model.telefonoCiudadano).Titled("Teléfono").Filterable(true);
    Columns.Add().Encoded(false)
  .Sanitized(false)
  .SetWidth(30)
  .RenderValueAs(o => Html.ActionLink("Editar", "Edit", new { id = o.idCiudadano }, new { @class = "data-grid-link" }));
    Columns.Add().Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Detalles", "Details", new { id = o.idCiudadano }, new { @class = "data-grid-link" }));
}).WithPaging(10).Sortable(true)

